/* Search Engine Styling */
.search-engine-container {
  height: auto;
  display: flex;
  flex-direction: column;
  gap: 12px;
  justify-content: flex-start;
  align-items: center;
  padding: 20px;
  position: relative;
}

.search-engine-container .search-engine-title {
  margin: 0;
  font-size: 28px;
  font-weight: 500;
  line-height: 1;
  color: #6d6c6c;
}

.search-engine-container .search-engine-wrapper {
  width: calc(100% - 40px);
  display: flex;
  flex-wrap: wrap;
  border-radius: 8px;
  border: 1px solid #e2e2e2;
  overflow: hidden;
  position: absolute;
  top: 60px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 9;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 7%);
}

.search-engine-container .search-engine-wrapper .search-input-wrapper {
  width: 100%;
  background-color: white;
  padding: 12px 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  position: relative;
  box-sizing: border-box;
}

.search-engine-container .search-engine-wrapper .no-result-wrap {
  width: 100%;
  text-align: center;
  padding: 12px 0px;
  position: relative;
  font-size: 18px;
  font-weight: 400;
  line-height: 20px;
  color: #606060;
  background-color: #fff;
  min-height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-engine-container .search-engine-wrapper .no-result-wrap::before {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: calc(100% - 20px);
  height: 1px;
  background-color: #e2e2e2;
}

.search-engine-container
  .search-engine-wrapper
  .search-input-wrapper
  .search-icon {
  stroke: #a7a3a3;
}

.search-engine-container
  .search-engine-wrapper
  .search-input-wrapper
  .search-input {
  width: 100%;
  font-size: 18px;
  font-weight: 400;
  line-height: 20px;
  border: none;
  padding: 0;
}

.search-engine-container
  .search-engine-wrapper
  .search-input-wrapper
  .search-input::placeholder {
  color: #a7a3a3;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
}

.search-engine-container
  .search-engine-wrapper
  .search-input-wrapper
  .search-input:focus-visible {
  outline: none;
}

.search-engine-container
  .search-engine-wrapper
  .search-input-wrapper
  .close-btn {
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.search-engine-container
  .search-engine-wrapper
  .search-input-wrapper
  .close-btn
  svg {
  fill: #a7a3a3;
}

.search-engine-container .search-engine-wrapper .search-result-wrap {
  width: 100%;
  padding: 12px 0px;
  position: relative;
  display: flex;
  flex-direction: column;
  overflow: auto;
  max-height: 250px;
  background-color: #fff;
}
.search-engine-container
  .search-engine-wrapper
  .search-result-wrap::-webkit-scrollbar {
  width: 4px;
}
/* Track */
.search-engine-container
  .search-engine-wrapper
  .search-result-wrap::-webkit-scrollbar-track {
  border-radius: 4px;
  background: #f1f1f1;
}
.search-engine-container
  .search-engine-wrapper
  .search-result-wrap::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background: #a7a3a3;
}
.search-engine-container .search-engine-wrapper .search-result-wrap::before {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: calc(100% - 20px);
  height: 1px;
  background-color: #e2e2e2;
}

.search-engine-container
  .search-engine-wrapper
  .search-result-wrap
  .search-item {
  padding: 10px;
  font-size: 14px;
  line-height: 20px;
  font-weight: 300;
  color: #000;
  cursor: pointer;
}

.search-engine-container
  .search-engine-wrapper
  .search-result-wrap
  .search-item:hover {
  background-color: #a7a3a326;
}

/* Search Histroy Styling */
.search-engine-container .search-history-wrap {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-top: 60px;
}

.search-engine-container .search-history-wrap .search-history-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 40px;
}

.search-engine-container
  .search-history-wrap
  .search-history-header
  .search-history-title {
  font-size: 18px;
  font-weight: 500;
  line-height: 22px;
  color: #000;
  margin: 0;
}

.search-engine-container
  .search-history-wrap
  .search-history-header
  .clear-history-link {
  font-size: 14px;
  font-weight: 400;
  color: #1b6ef3;
  line-height: 22px;
  margin: 0;
  cursor: pointer;
}
.search-engine-container .search-history-wrap .search-history-content {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
  padding: 0 40px;
}
.search-engine-container
  .search-history-wrap
  .search-history-content
  .search-history-chip {
  display: flex;
  align-items: center;
  gap: 8px;
  border: 1px solid #e2e2e2;
  border-radius: 50px;
  padding: 10px;
  font-size: 12px;
  line-height: 20px;
  font-weight: 400;
}
.search-engine-container
  .search-history-wrap
  .search-history-content
  .search-history-chip
  .search-date {
  color: #a7a3a3;
}
.search-engine-container
  .search-history-wrap
  .search-history-content
  .search-history-chip:hover {
  background-color: #a7a3a326;
  transition: 0.8s;
}

.search-engine-container
  .search-history-wrap
  .search-history-content
  .search-history-chip
  .close-btn {
  width: 12px;
  height: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.search-engine-container
  .search-history-wrap
  .search-history-content
  .search-history-chip
  .close-btn
  svg {
  fill: #7c7a7a;
}

@media screen and (max-width: 576px) {
  .search-engine-container .search-engine-title {
    font-size: 22px;
    line-height: normal;
  }
  .search-engine-container
    .search-engine-wrapper
    .search-input-wrapper
    .search-input {
    font-size: 16px;
    line-height: 16px;
  }
  .search-engine-container
    .search-engine-wrapper
    .search-input-wrapper
    .search-input::placeholder {
    font-size: 16px;
    line-height: 19px;
  }
  .search-engine-container
    .search-history-wrap
    .search-history-header
    .search-history-title {
    font-size: 16px;
    line-height: 18px;
  }
  .search-engine-container
    .search-history-wrap
    .search-history-header
    .clear-history-link {
    line-height: 18px;
  }
  .search-engine-container
    .search-history-wrap
    .search-history-content
    .search-history-chip {
    padding: 8px;
    line-height: 16px;
  }
  .search-engine-container .search-history-wrap .search-history-header {
    padding: 0 20px;
  }
  .search-engine-container .search-history-wrap .search-history-content {
    padding: 0 20px;
  }
}
